Client/Connected Services/MusicStreamingService/MusicStreaming3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64836/MusicStreaming.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFMusicStreamingServiceLibrary" />
  <xs:element name="StreamMusic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StreamMusicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFMusicStreamingServiceLibrary" minOccurs="0" name="StreamMusicResult" nillable="true" type="q1:Music" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvaiableMusics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvaiableMusicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFMusicStreamingServiceLibrary" minOccurs="0" name="GetAvaiableMusicsResult" nillable="true" type="q2:ArrayOfMusic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>