WCFMusicStreamingManager/Connected Services/MusicStreamingService/MusicStreamingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50363/MusicStreamingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFMusicStreamingServiceLibrary" />
  <xs:element name="UploadMusic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="artist" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="album" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMusicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFMusicStreamingServiceLibrary" minOccurs="0" name="UploadMusicResult" nillable="true" type="q1:Music" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>