WCFMusicStreaming/Connected Services/MusicStreamingManagerService/MusicStreamingManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MusicStreamingManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50408/MusicStreamingManagerService..svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50408/MusicStreamingManagerService..svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50408/MusicStreamingManagerService..svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFMusicStreamingServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMusicStreamingManagerService_AddMusic_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMusic" />
  </wsdl:message>
  <wsdl:message name="IMusicStreamingManagerService_AddMusic_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMusicResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicStreamingManagerService_GetAllMusics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMusics" />
  </wsdl:message>
  <wsdl:message name="IMusicStreamingManagerService_GetAllMusics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMusicsResponse" />
  </wsdl:message>
  <wsdl:message name="IMusicStreamingManagerService_UpdateToStream_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToStream" />
  </wsdl:message>
  <wsdl:message name="IMusicStreamingManagerService_UpdateToStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToStreamResponse" />
  </wsdl:message>
  <wsdl:portType name="IMusicStreamingManagerService">
    <wsdl:operation name="AddMusic">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicStreamingManagerService/AddMusic" message="tns:IMusicStreamingManagerService_AddMusic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicStreamingManagerService/AddMusicResponse" message="tns:IMusicStreamingManagerService_AddMusic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMusics">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicStreamingManagerService/GetAllMusics" message="tns:IMusicStreamingManagerService_GetAllMusics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicStreamingManagerService/GetAllMusicsResponse" message="tns:IMusicStreamingManagerService_GetAllMusics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IMusicStreamingManagerService/UpdateToStream" message="tns:IMusicStreamingManagerService_UpdateToStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMusicStreamingManagerService/UpdateToStreamResponse" message="tns:IMusicStreamingManagerService_UpdateToStream_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMusicStreamingManagerService" type="tns:IMusicStreamingManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMusic">
      <soap:operation soapAction="http://tempuri.org/IMusicStreamingManagerService/AddMusic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMusics">
      <soap:operation soapAction="http://tempuri.org/IMusicStreamingManagerService/GetAllMusics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToStream">
      <soap:operation soapAction="http://tempuri.org/IMusicStreamingManagerService/UpdateToStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MusicStreamingManagerService">
    <wsdl:port name="BasicHttpBinding_IMusicStreamingManagerService" binding="tns:BasicHttpBinding_IMusicStreamingManagerService">
      <soap:address location="http://localhost:50408/MusicStreamingManagerService..svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>